git+https://github.com/Rapptz/discord.py@rewrite
git+https://github.com/pytest-dev/pytest-asyncio
beautifulsoup4
colorthief
pillow
scipy
psutil
hurry.filesize
matplotlib
numpy
aiomysql
lavalink
aioredis
websockets
aiofiles
prettytable
qrcode
ujson
listcord
nekobot